.main-area {
    align-items: start;
    padding: 15px 200px;
}

@media (max-width: 992px) {
    .main-area {
        padding: 15px 100px;
    }    
}

@media (max-width: 768px) {
    .main-area {
        padding: 15px 20px;
    }    
}

.article-title {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    /* margin-bottom: 20px; */
}






.article-audio {
    margin: 15px 0;
    width: 100%;
}

.audio-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo do áudio */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 10px;
}

.play-button {
    width: 50px;
    height: 50px;
    background-color: #007bff; /* Cor do botão */
    border-radius: 50%; /* Forma circular */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-button.playing {
    background-color: #007bff; /* Cor quando está tocando */
}


.play-icon {
    width: 0; 
    height: 0; 
    border-left: 15px solid white; 
    border-right: 15px solid white; 
    border-bottom: 25px solid transparent; /* Triângulo */
}

.audio-info {
    flex-grow: 1;
    margin-left: 10px;
}

.audio-timer {
    font-size: 14px; /* Tamanho da fonte do contador de tempo */
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: #007bff; /* Cor da barra de progresso */
    border-radius: 5px;
}








.article-title2 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    padding: 0 30px;
}

.article-content {
    color: #808080;
    padding: 0 30px;
}


